<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :caregiver_name %><br />
  <%= f.text_field :caregiver_name %></div>

    <div><%= f.label :caregiver_phone %><br />
  <%= f.text_field :caregiver_phone %></div>

    <div><%= f.label :patient_name %><br />
  <%= f.text_field :patient_name %></div>

    <div><%= f.label :patient_phone %><br />
  <%= f.text_field :patient_phone %></div>

  <div><%= f.label :patient_email %><br />
  <%= f.text_field :patient_email %></div>

  <div><%= f.label :patient_street %><br />
  <%= f.text_field :patient_street %></div>

  <div><%= f.label :patient_city %><br />
  <%= f.text_field :patient_city %></div>

    <div><%= f.label :patient_zip %><br />
  <%= f.text_field :patient_zip %></div>

    <div><%= f.label :patient_condition %><br />
  <%= f.text_field :patient_condition %></div><br />


  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
