<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.caregiver_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.caregiver_phone %>
</p>

<p>
  <%= link_to 'Add Patient', new_user_patient_path(current_user) %> | <%= link_to 'See Patients', user_patients_path(@user) %>
</p>


<%= link_to 'Edit Your Info', edit_user_registration_path(@user) %>

