<h1>My Patients</h1>

<table class="table table-striped table-hover">
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><h5><%= link_to "#{patient.name}", patient %></h5></td>
        <td><%= patient.phone %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Remove', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_user_patient_path(current_user) %>
