<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @checkin.patient_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @checkin.message %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
